<html>
<body>
	
<div><p class="text"> <b>It was getting dark and in the cold night you climbed inside the icebox and huddled for the warmth.Thirst has become an obsession,as was starvation.With the hope that someone will find you,you sleep the day off with thoughts of despair in your mind.</b><p></<div>


<button style="margin:75px;" onclick="window.location.href='day2.html' " class="but">Continue</button>



<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



