<html>
<body>
	
<div><p class="text"> <b><html>
<body>
	
<div><p class="text"> <b>You Wake up and find the weather to be clear. Looking around you see the ocean wide spread and all alone distressed so much that you start crying.<br><br> What do you plan to do next?</b><p></<div>


<button style="margin:75px;" onclick="window.location.href='cry.html' " class="but">Keep on Crying</button>
<button style="margin:75px;" onclick="window.location.href='food.html' " class="but">Look for Food</button>
<button style="margin:75px;" onclick="window.location.href='help.html' " class="but">Look for help</button>





<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>