<html>
<body>
	
<div><p class="text"> <b><html>
<body>
	
<div><p class="text"> <b>The dawn brought cool air and dense fog.The sun is just below the horizin,colouring the sky orange and yellow.In the distance you see a rescue ship.You start running towards the shore crying out with joy and tears of happines rolled down your eyes.<br></b><p></<div>




<button style="margin:75px;" onclick="window.location.href='end.html' " class="but">Scream for help one last time!</button>





<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/shipp.mp3');
		audio.play();
	</script>


</body>

</html>