<html>
<body>
	
<div><p class="text"> <b><html>
<body>
	
<div><p class="text"> <b>GAME OVER!.<br><br><br>Want to play again?<br>There's no point.<br>The outcome will never change.<br><br><br><br></b><p></<div>
	<marquee behavior="scroll" direction="left"><img src="static/images/dead1.gif" width="94" height="88"></marquee>


	<marquee behavior="scroll" direction="right"><img src="static/images/dead1.gif" width="94" height="88"></marquee>


<button style="margin:75px;" onclick="window.location.href='index.html' " class="but">Try Again</button>


<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/dead.mp3');
		audio.play();
	</script>


</body>

</html>