<html>
<body>
	
<div><p class="text"> <b>Start swimming in the chilling water.<br>
choose the direction you want to go-</b><p></<div>



<!-- 			<image src="{{ url_for('static',filename='images/compass2.png')}}">  
 -->
<button onclick="myFunction()" class="but">↑North↑</button>
<button onclick="myFunction1()" class="but">← West← </button>
<button onclick="myFunction2()" class="but">→East→</button>
<button onclick="myFunction3()" class="but">↓South↓</button>



<p id="demo"></p>

<script>
function myFunction() {
  var x = Math.floor((Math.random() * 4) + 1);
  document.getElementById("demo").innerHTML = x;
if (x == 1) {
window.open("rf1.html","_self");

}else if(x == 2 ){
window.open("rf2.html","_self");

}else if(x == 3 ){
window.open("rf3.html","_self");

}else if(x == 4 ){
window.open("rf4.html","_self");
}

}
</script>



<script>
function myFunction1() {
  var x = Math.floor((Math.random() * 4) + 1);
  document.getElementById("demo").innerHTML = x;
if (x == 1) {
window.open("rf1.html","_self");

}else if(x == 2 ){
window.open("rf2.html","_self");

}else if(x == 3 ){
window.open("rf3.html","_self");

}else if(x == 4 ){
window.open("rf4.html","_self");
}

}
</script>


<script>
function myFunction2() {
  var x = Math.floor((Math.random() * 4) + 1);
  document.getElementById("demo").innerHTML = x;
if (x == 1) {
window.open("rf1.html","_self");

}else if(x == 2 ){
window.open("rf2.html","_self");

}else if(x == 3 ){
window.open("rf3.html","_self");

}else if(x == 4 ){
window.open("rf4.html","_self");
}

}
</script>



<script>
function myFunction3() {
  var x = Math.floor((Math.random() * 4) + 1);
  document.getElementById("demo").innerHTML = x;
if (x == 1) {
window.open("rf1.html","_self");

}else if(x == 2 ){
window.open("rf2.html","_self");

}else if(x == 3 ){
window.open("rf3.html","_self");

}else if(x == 4 ){
window.open("rf4.html","_self");
}

}
</script>



<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



