<html>
<body>
	
<div><p class="text"> <b>congratulations! Survival is yours</b><p></<div>
	<marquee behavior="scroll" direction="left"><img src="static/images/win1.gif" width="94" height="88"></marquee>
	<marquee behavior="scroll" direction="right"><img src="static/images/win1.gif" width="94" height="88"></marquee>






<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/win.mp3');
		audio.play();
	</script>


</body>

</html>



