<html>
<body>
	
<div><p class="text"> <b>You fired a Flare gun but unfortunately no one was around and nothing happen.<br></b><p></<div>


<button style="margin:75px;" onclick="window.location.href='camp.html' " class="but">Build a camp</button>
<button style="margin:75px;" onclick="window.location.href='look1.html' " class="but">Look around</button>


<p id="demo"></p>







<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>






