<html>
<head>
<title>
CAN YOU SURVIVE?
</title>
<meta name="author" content="Dirk Plate">
<style type="text/css">
<!--
A:link{text-decoration:none;color:rgb(250,250,100);}
A:visited{text-decoration:none;color:rgb(150,150,70);}
A:active{text-decoration:none;color:rgb(255,0,0);}
A:hover{text-decoration:none;color:rgb(115,115,55);}
-->

</style>
</head>

<body text=#FF0000 style="background-color:rgb(0,0,0);margin-top:30px;">
<div style="font-family:Avantgarde;
font-size:20px;
font-weight:bold;">
<br>
Welcome to this brief intro to Can you survive? It's purpose is to make
your choice's on an island and to survive in the game. After the start-up screen, we'll predict your survival on a ship
sailing through.  You'll crash and with your choice's :  the
game begins.
<br>
<br>
<img src="/static/images/titanic3.png" width=188 height=136 align=left hspace=10 vspace=10 border=0>
The most important features in Can you survive? are the choices you make based on probability.
  If your luck runs out, you'll die.
Each of the choices you make builds your probability of being alive for a longer period of time.-- otherwise, you die
and the game resets itself to the origin.  Therefore, the game is dynamic in nature.
<br>
<br>
When you click on the choices that has been laid already, you will be directed to a 
new set of scenario. If you click again,
you will go to that spot as so on and so forth.
The objective of the game is to survive until help comes over.


<br>
<img src="/static/images/titanic2.png" width=184 height=138 align=right hspace=10 vspace=10 border=0>
<br>
You've just ensured the first level of your survival  (if you survive the crash) Now let's make your life
a little more pleasant.  To do this, try searching in the island, where you'll
probably find resourses but Beware! of the dangers it follows.


<br>
<br>
<img src="/static/images/titanic6.gif" width=263 height=234 align=left hspace=10 vspace=10 border=0>
<br>
Some Addtional Information:
<br>
<br>
Time goes by only when you're doing something.  You can wait around if you'd
like without having to hurry.  The time is displayed to the lower right side.
At 6 p.m. sharp, you have to go to sleep.  If you're caught out in the open,
probability of you dying is high:  therefore, please make sure that you sleep near a 
tree (or something better).
<br>
<br>
<br>
The actual goal of the game is to be rescued.  Your chances of being seen by a
passing plane/ Ship(not visible) is symbolised by the time you survive.
  This shows you the probability of being saved on that
same day.  You can increase your chances, for example, by making S.O.S. signs
from stones or using your flare(if any).
<br>
<img src="/static/images/titanic4.gif" width=234 height=140 align=right hspace=10 vspace=10 border=0>
<br>
The Options Menu is at the top right edge of the screen:  using this, you can
end the game, start the game over, or begin a new day.
<br>
<img src="/static/images/titanic5.png" width=247 height=200 align=left hspace=10 vspace=10 border=0>
<br>
More Additional Information:
<br>
<br>
If you survive the crash, the basic amenities provived are:
<br>
Everyone gets a compass, while
<p>*Fare class 3- gets only life jacket</P>
*Fare class 2-gets life jacket and a one-day ration.</P>
*Fare class 1-get life jacket, one day ration and a flare.
<br>
<br>
Now, there are four islands nearby and your fate leads to your destiny:<p>
<P>>Island 1: full of resources(near)</P>>Island 2: no resources(near)
</P>>Island 3: full of resources(far)
</P>>Island 4: no resources(far)
<br>
The survivors will have to survive for three days on the nearby islands, and four on the one's that are far.


<br>
<br>
Okay, now that you're totally confused, have fun!!     <a href="story1.html"  ><center><button style="height:50px;width:100px"><b>Lets Go!</b></button ></center></a>
<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/voice1.mp3');
		audio.play();
		</script>


		
</div>
<style>
button
{
	background-color:green;
}

</style>

</html>
