<html>
<body>
	<title>story1</title>
<div><p class="text"> <b> You are slightly satisfied as your stomach has now stopped growling.You try finding stones for the S.O.S and build a fire around your camp. </b><p></<div>


<button style="margin:75px;" onclick="window.location.href='explore.html' " class="but">Explore!</button>
<button style="margin:75px;" onclick="window.location.href='wait2.html' " class="but">Rest!</button>



<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



