<html>
<body>
	
<div><p class="text"> <b>Slowly you drift away into the darkness, helpless feelings of despair cover your thoughts
while you call out for help.A few minutes later...<br>You see a view that resembles an island.<br>"An island! this is what i call good luck.The sea has washed me practically unharmed.Luckily i have survived this,may be GOD is still with me"<br>And with that thought you passed out.<br>When i woke up it was broad day, the weather clear and the storm abated, so the sea did not rage and swell as before.<br>What you want to do? </b><p></<div>


<button style="margin:75px;" onclick="window.location.href='choice2.html' " class="but">Look around</button>
<button style="margin:75px;" onclick="window.location.href='story3.html' " class="but">Wait</button>


<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



