<html>
<body>
	
<div><p class="text"> <b>A huge wave took you by surprise, hitting so quickly that you didn't see it coming, and had
no chance to draw a breath. You are pulled below the surface, came up, and was pulled
below again on what seemed to you to be a long, long trip. The ocean bubbled and roared
around your ears.You let out a shaky breath, the nightmare already beginning to fade.<br>
Thats right! You are in the cold sea. You grasp your throat, breathing hard, trying to make
sense of where you are. You then realise you are clutching onto a piece of wooden plank.
Then you rose, and though you have seemed to be drifting upward forever, and though you
swallowed water several times, you did not breathe the water in, and eventually you arrived
on the surface.
Later you spotted a life raft, swam to it, and got in.The night was rent with the cries of
invisible victims pleading for help, growing weak with the cold, moaning, going silent, and
losing the fight to stay alive. Nothing could be done for them.</b><p></<div>


<button style="margin:75px;" onclick="window.location.href='choice1.html' " class="but">Continue</button>



<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:30px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



