<html>
<body>
	<title>story1</title>
<div><p class="text"> <b> In the late hours of April 14th, 1912 and the early morning hours of April 15th, you're wandering in the alleyways of the ship. Enjoying the cool brisk breeze when suddenly.
You hear the Quatermaster screaming "FULL SPEED ASTERN" and bells Ringing!!<br>
KRUUUUNCH!! The ship hits the berg on its starboard bow. <br>
Fragments break off it and crash down onto the deck, and you jump back avoiding chunks of ice.
Will you Survive?? </b><p></<div>


<button style="margin:75px;" onclick="window.location.href='index.html' " class="but">Let's Go!</button>



<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>



