<html>
<body>
	
<div><p class="text"> <b>Congrates! You salvaged some matchbox,a knife,a pair of cloth,a bottle of rum,a few medicines and a flare gun with an extra flare.<br>what will you do next?</b><p></<div>


<button style="margin:150px;" onclick="myFunction()" class="but">Use flare</button>
<button style="margin:75px;" onclick="window.location.href='camp.html' " class="but">Build a camp</button>
<button style="margin:75px;" onclick="window.location.href='look1.html' " class="but">Look around</button>


<p id="demo"></p>

<script>
function myFunction() {
  var x = Math.floor((Math.random() * 10) + 1);
  document.getElementById("demo").innerHTML = x;
if (x < 3) {
window.open("win.html","_self");

}else if(x >= 3){
window.open("flare1.html","_self");
}
}
</script>





<style>
	body{
		background-color: rgba(0,0,0,.5);
				lighting-color: blue;

	}
	.but{
		font-family: Papyrus;
		font-size:50px;
		lighting-color: blue;
		color:rgba(0,0,0,.5);
		background-blend-mode: saturation;


	}

	.text{
		font-family: Papyrus;
		font-size:50px;

	}

</style>

<script>
		var audio=new Audio('https://raw.githubusercontent.com/Satwik999/mscbda/master/choice1.mp3');
		audio.play();
	</script>


</body>

</html>






